*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../img/fondo.svg);
}
.gif{
    width: 100%;
    height: 30%;
    display: flex;
    align-self: flex-end;
    justify-content: center;
}
label{
    float: right;
}
div.cara{
    width: 30%;
    height: 40vh;
    background-image: url(../img/cara.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
div.sello{
    width: 30%;
    height: 40vh;
    background-image: url(../img/sello.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;    
}.contenido{
    margin-top: 2%;
    width: 80%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2%;
    background-color: rgb(61, 66, 66, 0.9);
}.texto{
    width: 100%;
    height: 10%;
    display: flex;
    color: white;
    justify-content: center;
}.elecciones{
    width: 100%;
    display: flex;
    justify-content: space-around;
}.textoE{
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-around;
}

@media screen and (max-width: 400px){
    .texto{
        font-size: 0.7em;
    }
    .contenido{
        flex-direction: column;
    }
}
@media screen and (max-width: 550px) and (min-width: 400px) {
    .texto{
        font-size: 0.7em;
    }
}