*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-image: url(../img/fondo.svg);
}
.gif{
    width: 30%;
    height: 30vh;
    background-image: url(../img/coin-flip-24.webp);
    justify-content: flex-start;
    background-size: cover;
}
label{
    float: right;
}
div.cara{
    width: 30%;
    height: 60vh;
    margin-top: 9%;
    background-image: url(../img/cara.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
div.sello{
    width: 30%;
    height: 60vh;
    margin-top: 9%;
    background-image: url(../img/sello.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;    
}
